$yellow-color: #fad048;
$white: #fff;
$white-shade: #f9f9f9;
$saffron-yellow: #F4BE38;
$light_black: #4D4D4D;
$golden_yellow: #e0ae32;
$snow_white: #fafafa;
$light_yellow: #d7b109;
$Dark-gray: #808080;
$grey: #777777;
