@import "mixins";
@import "color";

body{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, p, button {
  color: $grey;
  font-family: 'Ubuntu';
}
p {
  font-size: 1.3em;
  font-weight: 500;
}
a, span, a:hover{
  color: inherit;
  text-decoration: none !important;
}
header{
  @include fixed(z-index 1002);
  padding: 15px;
  width: 100%;
  background-color: $white-shade;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all .1s;
}
// add class while header scroll
.header-border-scroll{
  border-bottom: solid 3px $saffron-yellow !important;
}
// open hidden menu overlay on click menu btn
.sidenav {
  height: 100%;
  @include opacity(0);
  width: 100%;
  @include fixed(top 0 left 0 z-index 1);
  transform-origin: bottom left;
  @include transform(rotate(-90deg));
  transition: all .8s;
  @include linear-gradient(top, #f7bf07 0%, #ffe600 100%);
}
.sidenav_open{
  @include transform(rotate(0deg));
}

#menu-btn, #close-btn{
  line-height: 30px;
  font-size: 1.5em;
  @include relative(z-index 1001);
  height: 30px;
  transition: all 0.5s !important;
  display: inline-block;
}
#close-btn{
  display: none;
}
.sidenav .closebtn {
  @include absolute(top 0 right 25px);
  @include fontSize(36);
  margin-left: 50px;
}
.inner_links{
  @include absolute(top 120px);
  text-align: center;
  padding: 30px 40px;
  width: 100%;
  li{
    list-style: none;
  }
}
.sidenav a {
  font-size: 2em;
  line-height: 1.4em;
  color: $white;
  transition: 0.3s;
}

// header links
#link-menu{
  float: right;
  margin: 0;
  list-style: none;
  position: relative;
  @include relative(z-index 9999);
  li{
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    line-height: 30px;
    &:before, &:after{
      content: '';
      display: inline-block;
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: $yellow-color;
      transition: transform .1s;
      @include transform(scale3d(1,0,1));
    }
    &:before{
      bottom: 0;
      left: 0;
      transition-delay: .3s;
      transform-origin: 50% 100%;
    }
    &:after{
      top: 0;
      right: 0;
      transition-delay: .1s;
      transform-origin: 50% 0;
    }
    &:hover{
      &:before, &:after{
        @include transform(scale3d(1,1,1));
      }
      a{
        &:before, &:after{
          @include transform(scale3d(1,1,1));
        }
      }
    }
  }
  a{
    &:before, &:after{
      content: '';
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $yellow-color;
      transition: transform .1s;
      @include transform(scale3d(0,1,1));
      transform-origin: 0 50%;
    }
    &:before{
      top: 0;
      left: 0;
      transform-origin: 0 50%;
    }
    &:after{
      right: 0;
      bottom: 0;
      transition-delay: .2s;
      transform-origin: 100% 50%;
    }
  }
}
// skewed-section
.skewed-section{
  position: relative;
  margin: 100px 0px 35px 0px;
}
#content_wrapper {
  margin-top: 20px;
  padding: 0 15px;
}
// banner ribbon
.ribbon-block{
  width: 100vw;
  height: 650px;
}
.ribbon{
  background: $yellow-color;
  @include transform(rotate(-12deg));
}
.ribbon_one{
  width: 400px;
  height: 160px;
  @include relative(top 10.5% left 46.6%);
  z-index: 1;
  p{
    @include fontSize(45);
    @include absolute(top 29% left 13%);
    font-weight: normal;
    color: $light_black;
    font-style: italic;
  }
}
.ribbon_two{
  width: 65%;
  @include relative(top -5% left -50px);
  height: 100px;
}
.ribbon_three{
  @include absolute(left 39.8% top 10.5%);
  border-left: 69px solid $yellow-color;
  border-right: 198px solid $golden_yellow;
  border-top: 30px solid $yellow-color;
}
.ribbon_four{
  @include absolute(left 67.8% top 30.5% z-index 1);
  border-top: 52px solid $golden_yellow;
  border-right: 93px solid $yellow-color;
  border-left: 52px solid $golden_yellow;
  border-bottom: 30px solid $yellow-color;
}
.ribbon_five{
  width: 423px;
  height: 100px;
  @include relative(top -110px left 68%);
}
// mobile image on banner
.mobile-image {
  @include absolute(left 17% z-index 1);
}
.intro-text {
  @include absolute(right 29% bottom 13%);
  p{
    font-weight: bold;
  }
}
// app downloading button on banner
.app_btn{
  @include absolute(right 30% bottom 5%);
  a:nth-child(1){
    &:before{
      content: '\f179';
      font-family: 'Font Awesome\ 5 Brands';
      margin-right: 5px;
    }

  }
  a:nth-child(2){
    &:before{
      content: "\f17b";
      font-family: 'Font Awesome\ 5 Brands';
      margin-right: 5px;
    }
  }
}
.link-btn{
  background: $yellow-color;
  padding: 8px;
  width: 145px;
  overflow: hidden;
  @include relative(z-index 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  text-align: center;
  display: inline-block;
  transition: border-color 0.3s, color 0.3s;
  border: 1.5px solid $yellow-color;
  font-size: 0.925em;
  font-weight: 500;
  border-radius: 30px;
  &:after{
    content: '';
    @include absolute(top 0 left 0 z-index -1);
    width: 150%;
    background: $snow_white !important;
    height: 100%;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    @include transform(rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0));
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }
  &:hover{
    &:after{
      @include opacity(1);
      @include transform(rotate3d(0, 0, 1, 0deg));
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}

// scroll down moving angle on banner bottom
.down-angle{
  @include absolute(bottom -100px left 50%);
  color: $saffron-yellow;
  cursor: pointer;
  @include fontSize(60);
  @include animation(move, 0s, 2s);
  animation-iteration-count: infinite;
}
@include keyframes(move){
  0%{
    bottom: -100px;
  }
  50%{
    bottom: -125px;
  }
  100%{
    bottom: -100px;
  }
};
// banner background
.background{
  @include absolute(top -118px left 0 z-index -1);
  background: $white-shade;
  @include transform(skewY(-5deg));
  width: 100%;
  height: 142%;
}
// section-padding
.section-padding {
  padding: 80px 0px;
}
// circular-icons
#circular-icons{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  width: 100%;
  .background{
    @include linear-gradient(to bottom, #f7bf07 0%,#ffe600 100%);
    top: 20px;
    height: 100%;
  }
  .icon-box{
    margin: 15% 0 10%;
  }
  .icon{
    margin-bottom: 40px;
  }
  .circle{
    position: relative;
    background-color: $white;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px 15px;
    color: $golden_yellow;
    @include fontSize(75);
    @include flex($display:flex, $justify-content:center);
    @include flex-direction(column);
  }
}
// shadow below circular icons
.shadow{
  width: 40px;
  height: 3px;
  border-radius: 50%;
  background-color: $light_yellow;
  bottom: -15px;
  @include absolute(left 50%);
  margin-left: -20px;
}
// bottom-text below circular icons
.text{
  width: 100px;
  font-size: 1.1em;
  margin: 0 auto;
  padding-left: 20px;
  position: relative;
  color: $Dark-gray;
  .left-bar{
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: $white;
    @include absolute(top 0 left 0);
  }
}

// procedure steps
.step-circular{
  margin: 80px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
.step-circular-header{
  margin-bottom: 30px;
  i{
    font-size: 3.8em;
    color: $yellow-color;
  }
  h2{
    margin: 10px 0 35px;
    font-size: 2.4em;
  }
}
// circular-steps-container box
.holder{
  display: flex;
}
.step-container{
  position: relative;
  margin: 80px 70px 0;
  &:nth-child(1){
    margin-left: 45px;
  }
}
.step{
  position: relative;
  @include flex($display:flex, $justify-content:center);
  @include flex-direction(column);
  width: 130px;
  height: 130px;
  border: 3px solid $yellow-color;
  border-radius: 50%;
  p{
    line-height: 25px;
    color: $yellow-color;
    margin: 0;
    font-weight: 600;
  }
}
// circular-step step-description
.step-description{
  margin-top: 20px !important;
  max-width: 130px;
  height: 300px;
  width: 100% !important;
  p{
    font-size: 1.1em !important;
  }
}
// step-count
.step-marker{
  @include absolute(top 5px left 0);
  width: 30px;
  height: 30px;
  line-height: 24px;
  text-align: center;
  border: 3px solid $white;
  border-radius: 50%;
  color: $white;
  @include linear-gradient((to right, #ffe600 0%,#f7bf07 100%));
}
.viajar-steps {
  color: $yellow-color;
  font-weight: 600;
}
// dotted line bitween circular-step
.dotted-line-20{
  width: 100%;
  height: 4px;
  margin-top: -2px;
  @include absolute(top 15% left 106%);
  @include linear-gradient((90deg, #d3d3d3 40%, rgba(255,255,255,0) 0%));
  background-size: 19px 3px;
  background-repeat: repeat-x;
}
// site quote-dialog
#quote-dialog{
  position: relative;
  width: 100%;
  text-align: center;
  h2{
    font-size: 2.7em;
    margin: 1.2em 0;
  }
  .inner-wrapper{
    margin: 150px 0;
    overflow: hidden;
  }
}
.bd-img{
  @include global-bg-image("bkg-gris-2.jpg", center, cover);
}
.bd-img.background{
  top: -50px;
  left: -178px;
  height: 105%;
  width: 170%;
}

// viajar_click section
#viajar_click{
  position: relative;
  margin: 10% 0;
  width: 100%;
  text-align: center;
  &:before, &:after{
    content: '';
    width: 50%;
    height: 4px;
    position: absolute;
    background-image: linear-gradient(90deg, #fad048 21%, rgba(255,255,255,0) 0%);
    background-size: 50px 4px;
    background-repeat: repeat-x;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    @include transform(rotate(-5deg));
  }
  &:before{
    top: 30%;
    right: 0;
  }
  &:after{
    top: 18%;
    left: 0;
  }
  i{
    display: block;
    text-align: center;
    font-size: 2.3em;
    color: $yellow-color;
    margin-top: 15px;
  }
  span{
    display: inline-block;
    @include fontSize(60);
    line-height: 1.1em;
    @include relative(z-index 1);
    color: $yellow-color;
    background: $white;
    @include transform(skewY(-5deg));
    font-style: italic;
  }
  .link-btn{
    width: 200px;
    font-size: 1.2em;
    margin: 10px auto 0;
    display: block;
    padding: 10px 30px;
    line-height: 1.2em;
    background: $white;
    &:after{
      background: $yellow-color !important;
    }
    &:hover{
      color: $white;
    }
  }
  .app_btn{
    bottom: -30%;
    right: 38%;
    transition: .8s;
    @include opacity(0);
    .link-btn{
      display: inline-block;
      padding: 8px;
      width: 145px;
      font-size: 0.925em;
      margin-right: 10px;
    }
  }
}

//viajar-lines section
.lines-bd{
  @include global-bg-image("index-viajar.jpg", center, cover);
}
#viajar-lines{
  width: 100%;
  padding: 0 15px;
  .viajar-container {
    text-align: right;
    padding: 0 15px;
    margin: 10% 0;
    width: 100%;
  }
  .background{
    width: 170%;
    height: 118%;
    top: -108px;
    left: -170px;
  }
}
.content{
  display: inline-block;
  width: 480px;
  text-align: left;
  h2{
    @include relative(z-index 1);
    margin: 0;
    width: 100%;
    max-width: 330px;
    display: inline-block;
    background-color: $white;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    @include transform(skew(-5deg) rotate(-5deg));
    font-size: 2.6em;
    padding: 20px;
    border-left: 5px solid $yellow-color;
  }
}
.article{
  width: 85%;
  @include relative(top -20px left 15px);
  background-color: #d3d3d3;
  @include transform(skew(-5deg) rotate(-5deg));
  padding: 35px 35px 20px;
  p{
    @include transform(skew(5deg) rotate(5deg));
  }
}
.link{
  @include absolute(bottom -31px right 0);
  background-color: #666;
  display: inline-block;
  padding: 7px 21px;
  a{
    font-style: italic;
    color: $white;
    font-weight: 100;
  }
}

// viajar-con section
#viajar-con{
  width: 100%;
  position: relative;
  margin: 5% 0;
  h2{
    font-size: 1.5em;
  }
  .viajar-title{
    text-align: right;
    padding-right: 15px;
    font-weight: 400;
    margin: 20px auto;
    position: relative;
  }
  h3{
    font-size: 1.17em;
  }
  p{
    color: $Dark-gray;
    margin: 10px 0 0;
  }
  .row h2, .row h3 {
    color: $light-grey;
    margin: 0;
    font-weight: 400;
  }
}
.title-bar{
  width: 3px;
  height: 34px;
  @include absolute(top 3px right 0);
  background-color: $yellow-color;
}

// testimonials images with text
#testimonials{
  .background{
    @include linear-gradient(top, #f7bf07 0%, #ffe600 100%);
    top: -50px;
    height: 110%;
  }
}
.testimonials{
  margin: 120px 0;
  & > div{
    padding: 0 30px;
    &:after{
      content: '';
      display: block;
      width: 30%;
      height: 2px;
      background-color: $white;
    }
  }
  h3{
    font-size: 1.25em;
    color: $extra-dark-gray;
    margin: 25px 0;
  }
  p{

    font-style: italic;
    font-size: 1.1em;
    color: $extra-dark-gray;
  }
}
.img{
  position: relative;
  text-align: center;
  img{
    max-width: 100%;
  }
  // youtube button on the image
  .activate-youtube{
    padding: 5px 13px;
    width: 50px;
    height: 50px;
    @include absolute(top 25px right 25px);
    font-size: 1.5em;
    color: $yellow-color;
    border: 3px solid white;
    @include border-radius(50%);
    &:hover{
      color: $yellow-color !important;
    }
  }
}
// stars below the image
.stars{
  span{
    font-size: 2.8em;
    display: inline-block;
    color: $white;
  }
}

// small ribbon in country-section
.small-ribbon{
  padding-bottom: 150px;
}
#country-precence{
  .background{
    background: $very-light-gray;
  }
}
.ribbon-02{
  position: relative;
  top: 35px;
  .part {
    position: absolute;
    &:nth-child(1) {
      width: 110px;
      height: 100px;
      @include transform(skew(-5deg) rotate(-5deg));
      background-color: $yellow-shadow;
    }
    &:nth-child(2) {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10.5px 55px 23px 0;
      border-color: transparent $strong-orange transparent transparent;
      top: 62px;
      left: 55px;
    }
    &:nth-child(3) {
      width: 340px;
      height: 120px;
      @include transform(skew(-5deg) rotate(-5deg));
      background-color: $bright-orange;
      left: 57px;
      top: -63px;
      h2{
        width: 100%;
        font-style: italic;
        font-size: 2em;
        display: inline-block;
        padding-left: 60px;
        margin-top: 20px;
      }
    }
  }
}
// country name block
.country-name{
  p{
    width: 60%;
    line-height: 30px;
    margin: 15% auto 40px;
  }
}
.rounded-button{
  .link-btn{
    background: transparent;
    display: block;
    margin: 0 auto;
    width: 200px;
    font-size: 1.2em;
    &:after{
      background: $yellow-color !important;
    }
    &:hover{
      color: $white;
    }
  }
}
@media (max-width:768px){
  .country-map{
    order: 1;
    left: 0;
  }
  .country-name{
    order: 2;
  }
}
// map image
.country-map{
  position: relative;
  text-align: center;
  left: -9%;
  @media (min-width: 768px) {
    margin-top: -100px;
  }
}
#lugar{
  cursor: pointer;
}
// location info while hover on the marker
.location-info {
  display: none;
  background: $white;
  text-align: left;
  min-width: 175px;
  padding: 10px 15px;
  @include border(2px, solid, $yellow-color);
  @include absolute(top -100% right 100% z-index 1);
}
// location marker on the map image
.location-container{
  display: inline-block;
  position: absolute;
  &:hover{
    .location-info{
      @media (min-width: 320px) {
        display: block;
      }
      @media (max-width: 480px){
        left: 100%;
      }
    }
  }
  top: 4%;
  left: 41%;
  &:nth-child(2){
    top: 29%;
    left: 49%;
  }
  &:nth-child(3){
    left: 46%;
    top: 54%;
  }
  &:nth-child(4){
    left: 43%;
    top: 52%;
  }
  &:nth-child(5){
    left: 51%;
    top: 70%;
  }
  &:nth-child(6){
    left: 46.5%;
    top: 70%;
  }
  &:nth-child(7){
    left: 48%;
    top: 58%;
  }
  &:nth-child(8){
    left: 49%;
    top: 34%;
  }
  &:nth-child(9){
    left: 42%;
    top: 23%;
  }
  &:nth-child(10){
    left: 46%;
    top: 39%;
  }
  &:nth-child(11){
    left: 41%;
    top: 11%;
  }
  &:nth-child(12){
    left: 45%;
    top: 19%;
  }
  &:nth-child(13){
    left: 46%;
    top: 24%;
  }
  &:nth-child(14){
    left: 53%;
    top: 16%;
  }
  &:nth-child(15){
    left: 42%;
    top: 18%;
  }
}
